.bg-cover {
  width: 100vw;
  height: 100vh;
}

.bg-gradient {
  bottom: 0;
  z-index: 20;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
}

.bg-active {
  z-index: 10;
}

//scrollmagic
.scrollmagic-pin-spacer {
  height: 2vh !important;
  min-height: 2vh !important;
  // padding-top: 2vh !important;
}

//transitions
.opacity-0 {
  opacity: 0;
  transition: .25s opacity;
}
.opacity-1 {
  opacity: 1;
}

.progress {
  top: 50%;
  transform: translateY(-50%);
  right: 2vw;
  height: 50vh;
  width: 1px;
  background: $white;
}