#system-map {
  display: inline-block;
  margin-bottom: 200px;
  width: 100%;
}

#svg-wrapper {
  position: sticky;
  // display: inline-block;
  // display: none;
  left: 0;
  // width: 75%;
  height: 600px;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  // top: 30px;
  // background-color: coral;

  image,
  #cog-click,
  #zap-click {
    cursor: pointer;
  }
}

#sidebar-wrapper {
  position: sticky;
  padding-top: 15px;
  display: inline-block;
  width: 100%;
  height: 600px;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  // top: 30px;
  // background-color: teal;
}

#sm-legend {
  bottom: 0;
  position: absolute;
  width: 100%;
  display: none;

  .sm-legend__item {
    display: flex;
    align-items: center;
    div {
      align-items: center;
      display: flex;
    }

    p {
      margin-bottom: 0.2rem;
    }

    .sm-legend__symbol {
      margin-right: 10px;
      width: 50px;
      svg {
        width: 55%;
      }
    }
  }

  .legend-cog-zap {
    width: 2rem;
  }
}

#step-wrapper {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
  pointer-events: none;
}

.step-layer {
  visibility: hidden;
  margin: 0 auto;
  background-color: rgba(221, 124, 124, 0.1);
  pointer-events: none;
  border: 1px black solid;
}

.step-layer:last-child {
  margin-bottom: 0;
}

.sm-layer__title {
  margin: 0px;
  height: 0px;
  font-family: Martin;
  font-size: 36px;
  font-weight: 400;
  color: $dark;
}

#characters__title {
  margin: auto;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  font-family: Martin;
  margin-bottom: 40px;
}

.card-custom-column {
  padding-left: 15px;
  padding-right: 15px;
}

.card-custom-dark {
  min-height: 100%;
  border-radius: 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.character-card__body {
  position: relative;
}

.character-card__title {
  font-family: Martin;
  font-size: $h3-font-size;
  line-height: 0.5;
}

#character-card__id {
  position: absolute;
  background: #e5521d;
  color: #322c2c;
  font-family: Martin;
  font-size: 40px;
  height: 50px;
  line-height: 44px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  top: -25px;
  left: -25px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.25);
}

#character-card__text {
  font-size: 0.9rem;
}

#arrow-down {
  text-align: center;
  margin: 10px 0;
}

.prompt {
  color: $rust;
  font-size: 1.2rem;
}

// #main-col {
//   background: pink;
// }

// #sidebar-col {
//   background: yellow;
// }
