.timeline-wrapper {
  border-right: 1px solid #555;
}

.timeline-year-content-header {
  position: relative;
  border-bottom: 1px solid #555;
}

.timeline-year-indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.timeline-card-indicator {
  position: absolute;
  bottom: -10px;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  line-height: 0;
  // pointer-events: none;
  background-color: hsl(211, 100%, 67%);
  transform: scale(.5);
  transition: .35s all;
}

.timeline-year-events {
  position: absolute;
  left: 100%;
  top: 0;
  border-left: 1px solid black;
  height: 100%;
  width: 100%;
  margin-left: 10px;
  padding-left: 10px;
}

.timeline-year-docs {

  position: relative;
  overflow: hidden;
  min-height: 300px;
  margin-bottom: 10vh;
  
  .card {
    position: absolute;
    top: 0;
    left: 0;
    opacity:0;
    transform: translateY(20%);
    transition: .35s all ease-in;
    transition-delay: 0;
    &.active {
      z-index: 10;
      opacity: 1;
      transform: translateY(0);
      transition-delay: .5s;
    }
    .badge {
      padding: .3rem;
      font-weight: normal;
      border: 1px solid #999;
    }
  }
}

.timeline-year {
  .timeline-year-label {
    transition: .35s all;
  }

  &.active {
    .timeline-year-label {
      color: red;
    }
    .timeline-card-indicator {
      background-color: #007bff;
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
    }
  }
}

.react-reveal {
  transition: .5s all ease-out;
  transition-delay: 1s;
}

.scaleUp {
  transform: scale(1.2);
  color: $rust;
}

.scaleDown {
  transform: scale(1);
}

.legend {
  position: sticky;
  top: 120px;
}