@import "../styles/_custom.scss";

.issuesHeroWrap {
  background: $dark;
  
  .issueImage {
    margin-bottom: -1.5rem;
    position: relative;
    z-index: 4;
  }
}

.pinkTag {
  position: relative;
  color: $light;
  display: inline-block;
  z-index: 2;

  &:before {
    content: '';
    height: 100%;
    width: 130%;
    top: 0;
    left: -15%;
    position: absolute;
    background: $pink;
    transform: rotate(-1deg);
    z-index: -1;
  }
}