.narrative-step {
    padding-top: 30vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 50vh;
    font-size: 1.3em;
    color: white,
}

.narrative-background {
    top: 0;
    left: 0;
    margin: 0;
    width: 99vw;
    height: 100vh;    
    background-size: cover;
    position: fixed;
    z-index: -1;
    opacity: 1;
}

.justify-content-md-center{
    align-items: center;
}

.quote {
    font-style: italic;
}

.narrative-modal-title {
    color: orangered;
}

h1, h2 {
    color: white;
}

.phone-card {
    color: black;
}

.kara-card {
    margin: 15px;
    color: black;
    border-radius: 0;
}

.kara-card h1 {
    color: orangered;
}

.kara-card-content {
    padding: 10px;
}

#george-conditions ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

#george-conditions li:not(.x){
    counter-increment: my-awesome-counter;
}
#george-conditions ol li::before{
    content: counter(my-awesome-counter) "  ";
    color: pink;
    font-size: 1.5em;
    font-weight: bold;
}

#george-conditions ul li::before{
    content: none;
}

#george-police-check {
    align-items: flex-end;
    justify-content: center;
}
