.progress-container{
    position: fixed;
    height: 3vh;
    width: 100vw;
    top:4rem;
    right: 0;
    z-index: 1;
    background-color: green;
}

.progress-bar{
    background-color: blue;
    height: 100%;
    width: 0%;
}
