// Test: font smoothing for firefox
// body {
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-font-smoothing: antialiased;
//   font-smoothing: antialiased;
// }

#modal-cog.modal-lg {
  max-width: 900px;
}

#modal-cog {
  h4 {
    font-family: MARTIN;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.8rem;
    font-size: 26px;
    line-height: 20px;
    color: #e5521d;
  }

  p {
    margin-bottom: 0.4rem;
  }

  .modal-body {
    padding: 0rem 2rem 2rem 2rem;
  }

  .modal-content {
    border: none;
    border-radius: 0px;
  }

  .modal-header {
    border-bottom: none;
    border-radius: 0px;
    background: none;
    height: 75px;
    color: #322c2c;
    padding: 1.2rem 2rem 0.5rem 2rem;
    font-family: Martin;
    font-size: 42px;
  }

  .col-md-9 {
    padding-left: 0px;
  }

  .modal-title {
    font-size: 36px;
    line-height: 30px;
    font-weight: 500;
  }

  .cog-modal__id {
    vertical-align: top;
    display: inline-block;
    margin: 0 0 0 1rem;
    background: #e5521d;
    color: #322c2c;
    font-family: Martin;
    font-size: 38px;
    height: 35px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
  }

  .cog-modal__subtitle {
    font-family: MARTIN;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.8rem;
    font-size: 26px;
    line-height: 20px;
    color: #e5521d;
  }

  .modal-header-icon {
    width: 25px;
    height: auto;
    margin-top: 5px;
  }

  .cog-modal__what ul {
    list-style-type: none;
    padding-left: 25px;
    margin-bottom: 0px;
  }
}
