#modalStatic {
  .modal-dialog {
    max-width: 800px;
  }

  .modal-content {
    border: none;
    border-radius: 0px;
  }

  .modal-header {
    border-bottom: none;
    border-radius: 0px;
    background: #f08fdb;
    color: #fffdfb;
    padding: 0.7rem 2rem;
    font-family: Martin;
    font-size: 42px;

    button {
      color: #fffdfb;
      text-shadow: none;
      opacity: 1;
    }
  }

  .modal-body {
    padding: 2rem;
  }

  .modal-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
  }

  .static-modal__subtitle {
    font-family: MARTIN;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1rem;
    font-size: 26px;
    line-height: 20px;
    color: #f08fdb;
    &:first-child {
      display: inline-block;
      margin-bottom: 1.5rem;
    }
  }

  .static-modal__id {
    display: inline-block;
    margin: 0 0 0 1rem;
    background: #e5521d;
    color: #322c2c;
    font-family: Martin;
    font-size: 38px;
    height: 40px;
    line-height: 35px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
  }

  .static-modal__footnote {
    padding: 1rem 0 0 2rem;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
  }

  ul {
    padding-left: 1rem;
  }

  li p {
    margin-bottom: 0.5rem;
  }
}
